---
- name: Load vxlan kernel module
  community.general.modprobe:
    name: vxlan
    state: present

- name: Ensure vxlan module loads on boot
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/vxlan.conf
    line: vxlan
    create: yes
    mode: '0644'

- name: Check if VXLAN interface exists
  ansible.builtin.command: ip link show {{ vxlan_interface_name }}
  register: vxlan_check
  failed_when: false
  changed_when: false

- name: Create VXLAN interface (unicast mode)
  ansible.builtin.command: >
    ip link add {{ vxlan_interface_name }} type vxlan
    id {{ vxlan_vni }}
    dstport {{ vxlan_port }}
    local {{ vxlan_local_ip }}
    nolearning
  when:
    - vxlan_check.rc != 0
    - vxlan_mode == 'unicast'

- name: Add FDB entries for unicast peers
  ansible.builtin.command: >
    bridge fdb append 00:00:00:00:00:00
    dev {{ vxlan_interface_name }}
    dst {{ item }}
  loop: "{{ vxlan_peers | difference([vxlan_local_ip]) }}"
  when: vxlan_mode == 'unicast'
  failed_when: false
  changed_when: false

- name: Set VXLAN interface MTU
  ansible.builtin.command: ip link set {{ vxlan_interface_name }} mtu {{ vxlan_mtu }}
  when: vxlan_check.rc != 0
  changed_when: false

- name: Bring up VXLAN interface
  ansible.builtin.command: ip link set {{ vxlan_interface_name }} up
  changed_when: false
